@import "~@angular/material/prebuilt-themes/indigo-pink.css";
button {
  .spinner {
    width: 30px !important;
    height: 30px !important;
    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

.am-button-block {
  width: 100%;
}

wing-blank {
  display: block;
}

.mat-dialog-container {
  padding: 0px !important;
}

html,
body,
app-root {
  display: block;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
